<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    
    <title>Weather Manager</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='weather/fonts/font-awesome.min.css') }}" />

    <!-- Loading main css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='weather/style.css') }}" />
    
    <!--[if lt IE 9]>
    <script src="js/ie-support/html5.js"></script>
    <script src="js/ie-support/respond.js"></script>
    <![endif]-->

  </head>


  <body>
    
    <div class="site-content">
      <div class="site-header">
        <div class="container">
          <a href="index.html" class="branding">
            <img src="{{ url_for('static', filename='weather/images/logo.png') }}" alt="" class="logo">
            <div class="logo-type">
              <h1 class="site-title">Weather Manager</h1>
              <small class="site-description"></small>
            </div>
          </a>

          <!-- Default snippet for navigation -->
          <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
              <li class="menu-item current-menu-item"><a href="http://127.0.0.1:5000">Home</a></li>
              <li class="menu-item"><a href="http://127.0.0.1:5000/Weather_history">Weather History</a></li>
              <li class="menu-item"><a href="http://127.0.0.1:5000/Update_profile">Update Profile</a></li>
              
              <li class="menu-item"><a href="http://127.0.0.1:5000/Contact">Contact</a></li>
            </ul> <!-- .menu -->
          </div> <!-- .main-navigation -->

          <div class="mobile-navigation"></div>

        </div>
      </div> <!-- .site-header -->
      <!----
      <div class="hero" data-bg-image="images/banner.png">
        <div class="container">
          <form action="#" class="find-location">
            <input type="text" placeholder="Find your location...">
            <input type="submit" value="Find">
          </form>

        </div>
      </div>
    -->

      <div class="forecast-table">
        <div class="container">
          <div class="forecast-container">
            <div class="today forecast">
              <div class="forecast-header">
                <div class="day">Monday</div>
                <div class="date">28 Oct</div>
              </div> <!-- .forecast-header -->
              <div class="forecast-content">
                <div class="location">Mumbai</div>
                <div class="degree">
                  <div class="num">{{temp_mon}}<sup>o</sup>C</div>
                  <div class="forecast-icon">
                    <img src="{{ url_for('static', filename='weather/images/icons/icon-1.svg') }}" alt="" width=90>
                  </div>  
                </div>
                <span><img src="{{ url_for('static', filename='weather/images/icon-umberella.png') }}" alt="">{{ppt_mon}}%</span>
                <span><img src="{{ url_for('static', filename='weather/images/icon-wind.png') }}" alt="">{{ws_mon}} KMPH</span>
                <span><img src="{{ url_for('static', filename='weather/images/icon-compass.png') }}" alt="">East</span>
              </div>
            </div>
            
            <div class="forecast">
              <div class="forecast-header">
                <div class="day">Tuesday</div>
              </div> 
              <div class="forecast-content">
                <div class="forecast-icon">
                  <img src="{{ url_for('static', filename='weather/images/icons/icon-3.svg') }}" alt="" width=48>
                </div>
                <div class="degree">{{temp_tue}}<sup>o</sup>C</div>
                <small>{{ws_tue}}KMPH</small>
                <small>{{ppt_tue}} %</small>
              </div>
            </div>
            <div class="forecast">
              <div class="forecast-header">
                <div class="day">Wednesday</div>
              </div> 
              <div class="forecast-content">
                <div class="forecast-icon">
                  <img src="{{ url_for('static', filename='weather/images/icons/icon-5.svg') }}" alt="" width=48>
                </div>
                <div class="degree">{{temp_wed}}<sup>o</sup>C</div>
                <small>{{ws_wed}}KMPH</small>
                <small>{{ppt_wed}}%</small>
              </div>
            </div>
            <div class="forecast">
              <div class="forecast-header">
                <div class="day">Thursday</div>
              </div> 
              <div class="forecast-content">
                <div class="forecast-icon">
                  <img src="{{ url_for('static', filename='weather/images/icons/icon-7.svg') }}" alt="" width=48>
                </div>
                <div class="degree">{{temp_thu}}<sup>o</sup>C</div>
                <small>{{ws_thu}}KMPH</small>
                <small>{{ppt_thu}}%</small>
              </div>
            </div>
            <div class="forecast">
              <div class="forecast-header">
                <div class="day">Friday</div>
              </div> 
              <div class="forecast-content">
                <div class="forecast-icon">
                  <img src="{{ url_for('static', filename='weather/images/icons/icon-12.svg') }}" alt="" width=48>
                </div>
                <div class="degree">{{temp_fri}}<sup>o</sup>C</div>
                <small>{{ws_fri}}KMPH</small>
                <small>{{ppt_fri}}%</small>
              </div>
            </div>
            <div class="forecast">
              <div class="forecast-header">
                <div class="day">Saturday</div>
              </div> 
              <div class="forecast-content">
                <div class="forecast-icon">
                  <img src="{{ url_for('static', filename='weather/images/icons/icon-13.svg') }}" alt="" width=48>
                </div>
                <div class="degree">{{temp_sat}}<sup>o</sup>C</div>
                <small>{{ws_sat}}KMPH</small>
                <small>{{ppt_sat}}%</small>
              </div>
            </div>
            <div class="forecast">
              <div class="forecast-header">
                <div class="day">Sunday</div>
              </div> 
              <div class="forecast-content">
                <div class="forecast-icon">
                  <img src="{{ url_for('static', filename='weather/images/icons/icon-14.svg') }}" alt="" width=48>
                </div>
                <div class="degree">{{temp_sun}}<sup>o</sup>C</div>
                <small>{{ws_sun}} KMPH</small><br>
                <small>{{ppt_sun}} %</small>
              </div>
            </div>
          </div>
        </div>
      </div> -->

  
      
      <main class="main-content">
        <!-- <div class="fullwidth-block">
          <div class="container">
            <h2 class="section-title">Live cameras</h2>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="live-camera">
                  <figure class="live-camera-cover"><img src="images/live-camera-1.jpg" alt=""></figure>
                  <h3 class="location">New York</h3>
                  <small class="date">8 oct, 8:00AM</small>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="live-camera">
                  <figure class="live-camera-cover"><img src="images/live-camera-2.jpg" alt=""></figure>
                  <h3 class="location">Los Angeles</h3>
                  <small class="date">8 oct, 8:00AM</small>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="live-camera">
                  <figure class="live-camera-cover"><img src="images/live-camera-3.jpg" alt=""></figure>
                  <h3 class="location">Chicago</h3>
                  <small class="date">8 oct, 8:00AM</small>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="live-camera">
                  <figure class="live-camera-cover"><img src="images/live-camera-4.jpg" alt=""></figure>
                  <h3 class="location">London</h3>
                  <small class="date">8 oct, 8:00AM</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="fullwidth-block" data-bg-color="#262936">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="news">
                  <div class="date">06.10</div>
                  <h3><a href="#">Doloremque laudantium totam sequi </a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo saepe assumenda dolorem modi, expedita voluptatum ducimus necessitatibus. Asperiores quod reprehenderit necessitatibus harum, mollitia, odit et consequatur maxime nisi amet doloremque.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="news">
                  <div class="date">06.10</div>
                  <h3><a href="#">Doloremque laudantium totam sequi </a></h3>
                  <p>Nobis architecto consequatur ab, ea, eum autem aperiam accusantium placeat vitae facere explicabo temporibus minus distinctio cum optio quis, dignissimos eius aspernatur fuga. Praesentium totam, corrupti beatae amet expedita veritatis.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="news">
                  <div class="date">06.10</div>
                  <h3><a href="#">Doloremque laudantium totam sequi </a></h3>
                  <p>Enim impedit officiis placeat qui recusandae doloremque possimus, iusto blanditiis, quam optio delectus maiores. Possimus rerum, velit cum natus eos. Cumque pariatur beatae asperiores, esse libero quas ad dolorem. Voluptates.</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="fullwidth-block">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h2 class="section-title">News in Bangalore</h2>
                <ul class="arrow-feature">
                  <li>
                    <h3>Cyclonic Storm Maha to bring tropical rain, wind to areas of India impacted by Kyarr/h3>
                    <p>While Kyarr is gradually weakening over the western Arabian Sea, the focus will shift to a new tropical feature near southwestern India as Diwali celebrations wind down.</p>
                  </li>
                  <li>
                    <h3>Mumbai Woman corporate fraud</h3>
                    <p>A Nalasopara man has allegedly cheated over 100 women of Rs 41 by collecting money for investments </p>
                  </li>
                  <li>
                    <h3>Mumbai University rakes in Rs 18 crore in 6 years from reval</h3>
                    <p>Revaluation seems to be of immense value to not only student but to university too</p>
                  </li>
                </ul>
              </div>
            -->
              <div class="col-md-4" style="text-align:center">
                <h2 class="section-title">Weather analysis</h2>
                <ul class="arrow-list">
                  <li><a href="#">Moday : temperature 22, precipitation 90%, windspeed 14kmph</a></li>
                  <li><a href="#">Tuesday : temperature 36, precipitation 64%, windspeed 19kmph</a></li>
                  <li><a href="#">Wednesday : temperature 22, precipitation 64%, windspeed 19kmph</a></li>
                  <li><a href="#">Thursday : temperature 36, precipitation 69% windspeed 19kmph</a></li>
                  <li><a href="#">Friday : temperature 31, precipitation 88%, windspeed 15kmph</a></li>
                  <li><a href="#">Moday : temperature 32, precipitation 88%, windspeed 11kmph</a></li>
                  <li><a href="#">Moday : temperature 36, precipitation 13%, windspeed 89kmph</a></li>
                </ul>
              </div>
              <div class="col-md-4" margin : auto>
                <h2 class="section-title">Awesome Photos</h2>
                <div class="photo-grid">
                  <a href="#"><img src="{{ url_for('static', filename='weather/images/image1.jpg') }}" alt="#"></a>
                  <a href="#"><img src="{{ url_for('static', filename='weather/images/image2.jpg') }}" alt="#"></a>
                  <a href="#"><img src="{{ url_for('static', filename='weather/images/image3.jpg') }}" alt="#"></a>
                  <a href="#"><img src="{{ url_for('static', filename='weather/images/image4.jpg') }}" alt="#"></a>
                  <a href="#"><img src="{{ url_for('static', filename='weather/images/image5.jpg') }}" alt="#"></a>
                  <a href="#"><img src="{{ url_for('static', filename='weather/images/image6.jpg') }}" alt="#"></a>
                  <a href="#"><img src="{{ url_for('static', filename='weather/images/image7.jpg') }}" alt="#"></a>
                  <a href="#"><img src="{{ url_for('static', filename='weather/images/image7.jpg') }}" alt="#"></a>
                  <a href="#"><img src="{{ url_for('static', filename='weather/images/image8.jpg') }}" alt="#"></a>
                  <a href="#"><img src="{{ url_for('static', filename='weather/images/image9.jpg') }}" alt="#"></a>

                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </main> <!-- .main-content -->
  

      <!-- <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <form action="#" class="subscribe-form">
                <input type="text" placeholder="Enter your email to subscribe...">
                <input type="submit" value="Subscribe">
              </form>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>

        </div>
      </footer>  --><!-- .site-footer -->
    </div>
  
    
    <script src="{{ url_for('static', filename='weather/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='weather/js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='weatherjs/app.js') }}"></script>
    
  </body>

</html>